*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

#footer div, #home, #header #tagline div, #header nav ul, #header #section {
  max-width: 940px;
  margin: 0 auto;
}

#footer div .section ul, #footer div, #home #calendar ul li div, #home #aside ul, #home #aside div, #header #section {
  overflow: hidden;
}

#home #aside ul li h2 a span, #home #aside div h1 span {
  color: #c80808;
  font-weight: 700;
}

#home #calendar ul li p, #home #aside ul li p, #home #aside div div p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #3d3d3d;
  line-height: 24px;
  text-align: justify;
  word-spacing: 1px;
}

#header {
  background: #274f75;
}
#header #section {
  height: 150px;
  line-height: 150px;
}
#header #section div {
  float: left;
}
#header #section div a {
  display: block;
}
#header #section div a img {
  vertical-align: middle;
}
#header #section span {
  margin-top: 50px;
  color: #ffff;
  display: block;
  float: right;
  line-height: 150px;
}
#header #section span p {
  line-height: 16px;
}
#header #section span p:first-child {
  margin-bottom: 15px;
}
#header nav {
  background: #84bf0e;
  border-bottom: 1px solid #c31048;
}
#header nav ul {
  display: flex;
}
#header nav ul li a {
  display: block;
  padding: 12px 25px;
  text-decoration: none;
  color: #274f75;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: background 0.3s;
}
#header nav ul li a:hover {
  background: #ffff;
}
#header nav ul li a:hover::after {
  background: #c31048;
}
#header nav ul li a::after {
  content: "";
  height: 6px;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: background 0.3s;
}
#header #tagline {
  background: url("../images/background.jpg");
  box-shadow: 0 5px 5px -5px #333;
}
#header #tagline div {
  min-height: 450px;
  background: url("../images/bg-header2.jpg");
  background-position: center;
}
#header #tagline div h1 {
  font-size: 60px;
  font-family: Arial;
  font-weight: 700;
  color: #274f75;
  max-width: 445px;
  padding-top: 115px;
}
#header #tagline div p {
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: #274f75;
  max-width: 340px;
  padding-top: 40px;
  line-height: 35px;
}

#home {
  margin-bottom: 100px;
}
#home #aside {
  max-width: 630px;
  padding-top: 40px;
  padding-left: 20px;
  display: inline-block;
}
#home #aside div h1 {
  font-size: 28px;
  font-family: Arial, sans-serif;
  color: #274f75;
}
#home #aside div a {
  display: block;
  float: left;
  border: 1px solid #c31048;
  margin-top: 30px;
}
#home #aside div a img {
  width: 160px;
  padding: 10px;
}
#home #aside div div {
  max-width: 400px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
}
#home #aside div div p:first-child {
  margin-bottom: 15px;
}
#home #aside div div p span {
  text-decoration: underline;
}
#home #aside ul {
  padding-top: 40px;
}
#home #aside ul li {
  float: left;
  max-width: 280px;
}
#home #aside ul li:first-child {
  margin-right: 20px;
}
#home #aside ul li h2 {
  margin-bottom: 20px;
}
#home #aside ul li h2 a {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #274f75;
  text-decoration: none;
}
#home #aside ul li p {
  margin-bottom: 20px;
}
#home #calendar {
  max-width: 300px;
  float: right;
  padding-top: 40px;
}
#home #calendar h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #c31048;
  font-size: 28px;
}
#home #calendar ul li {
  margin-top: 30px;
}
#home #calendar ul li div span {
  width: 38px;
  height: 38px;
  display: block;
  background-color: #274f75;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  line-height: 86%;
  float: left;
  margin-right: 10px;
}
#home #calendar ul li div h2 {
  display: inline-block;
}
#home #calendar ul li div h2 a {
  color: #274f75;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
#home #calendar ul li p {
  padding-top: 20px;
}
#home #calendar ul li hr {
  background-color: #c6c6c6;
  border: none;
  height: 1px;
}

#footer {
  background: #274f75;
  border-top: 1px solid #c80808;
  box-shadow: -5px 0 5px black;
  text-align: right;
}
#footer div #connect {
  float: left;
  display: block;
  margin-top: 36px;
}
#footer div #connect a {
  margin-right: 15px;
}
#footer div .section {
  margin: 0;
}
#footer div .section ul {
  display: inline-block;
  list-style-type: none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  margin-top: 35px;
  text-align: right;
}
#footer div .section ul li {
  float: left;
  padding: 0 5px;
  border-left: 1px solid #6a86a0;
  line-height: 90%;
}
#footer div .section ul li:first-child {
  border-left: none;
}
#footer div .section ul li a {
  text-decoration: none;
  color: #6a86a0;
  font-family: Arial, sans-serif;
}
#footer div .section p {
  color: #6a86a0;
  font-family: Arial, sans-serif;
  margin-top: 15px;
  margin-bottom: 40px;
}
#footer div .section p a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

/*# sourceMappingURL=style.css.map */
