@import "reset.scss";

@import "variables.scss";

#header {
    background: $primary_color;

    #section {
        @extend %container;
        @extend %clearFloat;
        height: 150px;
        line-height: 150px;

        div {
            float: left;

            a {
                display: block;

                img {
                    vertical-align: middle;
                }
            }
        }
        span {
            margin-top: 50px;
            color: #ffff;
            display: block;
            float: right;
            line-height: 150px;

            p {
                line-height: 16px;

                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }
    }

    nav {
        background: $nav_bg;
        border-bottom: 1px solid #c31048;

        ul {
            display: flex;
            @extend %container;

            li {
                a {
                    display: block;
                    padding: 12px 25px;
                    text-decoration: none;
                    color: $primary_color;
                    font-size: 16px;
                    font-family: Arial, sans-serif;
                    text-transform: capitalize;
                    position: relative;
                    transition: background 0.3s;

                    &:hover {
                        background: #ffff;

                        &::after {
                            background: #c31048;
                        }
                    }

                    &::after {
                        content: "";
                        height: 6px;
                        width: 100%;
                        background: transparent;
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                        transition: background 0.3s;
                    }
                }
            }
        }
    }

    #tagline {
        background: url("../images/background.jpg");
        box-shadow: 0 5px 5px -5px #333;

        div {
            min-height: 450px;
            background: url("../images/bg-header2.jpg");
            background-position: center;
            @extend %container;

            h1 {
                font-size: 60px;
                font-family: Arial;
                font-weight: 700;
                color: $primary_color;
                max-width: 445px;
                padding-top: 115px;
            }

            p {
                font-family: Arial, sans-serif;
                font-size: 25px;
                color: $primary_color;
                max-width: 340px;
                padding-top: 40px;
                line-height: 35px;
            }
        }
    }
}

#home {
    @extend %container;
    margin-bottom: 100px;

    #aside {
        max-width: 630px;
        padding-top: 40px;
        padding-left: 20px;
        display: inline-block;

        div {
            @extend %clearFloat;
            h1 {
                font-size: 28px;
                font-family: Arial, sans-serif;
                color: $primary_color;

                span {
                    @extend %span_last;
                }
            }

            a {
                display: block;
                float: left;
                border: 1px solid #c31048;
                margin-top: 30px;

                img {
                    width: 160px;
                    padding: 10px;
                }
            }

            div {
                max-width: 400px;
                display: inline-block;
                margin-left: 20px;
                margin-top: 30px;
                p {
                    @extend %text;

                    &:first-child {
                        margin-bottom: 15px;
                    }

                    span {
                        text-decoration: underline;
                    }
                }
            }
        }

        ul {
            padding-top: 40px;
            @extend %clearFloat;

            li {
                float: left;
                max-width: 280px;

                &:first-child {
                    margin-right: 20px;
                }

                h2 {
                    margin-bottom: 20px;

                    a {
                        font-family: Arial, sans-serif;
                        font-size: 20px;
                        color: $primary_color;
                        text-decoration: none;

                        span {
                            @extend %span_last;
                        }
                    }
                }
                p {
                    @extend %text;
                    margin-bottom: 20px;
                }
            }
        }
    }

    #calendar {
        max-width: 300px;
        float: right;
        padding-top: 40px;

        h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: #c31048;
            font-size: 28px;
        }

        ul {
            li {
                margin-top: 30px;
                div {
                    @extend %clearFloat;
                    span {
                        width: 38px;
                        height: 38px;
                        display: block;
                        background-color: $primary_color;
                        font-family: Arial, sans-serif;
                        font-size: 18px;
                        color: white;
                        text-align: right;
                        padding: 5px;
                        box-sizing: border-box;
                        line-height: 86%;
                        float: left;
                        margin-right: 10px;
                    }
                    h2 {
                        display: inline-block;
                        // padding-bottom: 25px;
                        a {
                            color: $primary_color;
                            font-size: 18px;
                            text-decoration: none;
                            font-family: Arial, sans-serif;
                        }
                    }
                }

                p {
                    padding-top: 20px;
                    // position: relative;
                    @extend %text;
                    // &::after {
                    //     content: "";
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 1px; // suit your need
                    //     background: #c6c6c6; // suit your need
                    //     top: 115%;
                    //     left: 0;
                    // }
                }

                hr {
                    background-color: #c6c6c6;
                    border: none;
                    height: 1px;
                }
            }
        }
    }
}
#footer {
    background: $primary_color;
    border-top: 1px solid #c80808;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 1);
    text-align: right;

    div{
        @extend %container;
        @extend %clearFloat;

        #connect {
            float: left;
            display: block;
            margin-top: 36px;

            a {
                margin-right: 15px;
            }
        }

        .section {
            margin: 0;
            
            ul {
                @extend %clearFloat;
                display: inline-block;
                list-style-type: none;
                margin-right:  0;
                margin-left: 0;
                padding: 0;
                margin-top: 35px;
                text-align: right;
                
                li {
                    float: left;
                    padding: 0 5px;
                    border-left:  1px solid #6a86a0;
                    line-height: 90%;

                    &:first-child {
                        border-left: none;
                    }

                    a{
                        text-decoration: none;
                        color: #6a86a0;
                        font-family: Arial, sans-serif;
                    }
                }
            }

            p{
                color: #6a86a0;
                font-family: Arial, sans-serif;
                margin-top: 15px;
                margin-bottom: 40px;

                a{
                    text-decoration: none;
                    color: inherit;
                    font-family: inherit;

                }
            }
        }
    }
}